<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${title}">Title</title>
  <link href="../static/bootstrap/bootstrap-3.3.7.min.css" th:href="@{/bootstrap/bootstrap-3.3.7.min.css}" rel="stylesheet"/>
  <script src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>添加记录</h1>
    </div>
    <form method="post">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
          <label>ASIN</label>
          <input type="text" class="form-control" name="asin" placeholder="ASIN"/>
        </div>
        <div class="form-group">
          <label>Store</label>
          <select class="form-control" name="store">
            <option></option>
            <option th:each="store: ${stores}" th:value="${store}" th:text="${store}"></option>
          </select>
        </div>
        <div class="btn btn-group">
          <div class="btn btn-default">首页</div>
          <div class="btn btn-primary">确定</div>
        </div>
      </div>
    </form>
  </div>
<script src="../static/bootstrap/bootstrap-3.3.7.min.js" th:src="@{/bootstrap/bootstrap-3.3.7.min.js}"></script>
<script>
  $(".btn-default").click(function () {
    location.href = "index";
  })
  $(".btn-primary").click(function () {
    var asin = $("input[name=asin]").val().trim();
    var store = $("select").children("option:selected").val();
    if(!asin || !store) {
      alert("输入不允许为空");
      return false;
    }
    $("form").submit()
  })
</script>
</body>
</html>